body{
    font-family: 'Chakra Petch', sans-serif;
}

:root {
    --color: #0ef0ad;
}

/*button*/
.button {
    padding: 13px 25px;
    background-color: transparent;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}


.button-two {
    padding: 13px 25px;
    background-color: var(--color);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: rgb(10, 25, 30);
    z-index: 1;
}
